<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430509841889-4vt03n52l9hf1nl14c9k472p8vdelq4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430509841889-4vt03n52l9hf1nl14c9k472p8vdelq4q</string>
	<key>API_KEY</key>
	<string>AIzaSyAEjq0xUwH3823qQVAFP9aeKFN2uNzDE7A</string>
	<key>GCM_SENDER_ID</key>
	<string>430509841889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.jp.WeTravel</string>
	<key>PROJECT_ID</key>
	<string>we-travel-project-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>we-travel-project-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430509841889:ios:3b655f039f545221aa86a0</string>
</dict>
</plist>